
.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3,3,3);
    flex-direction: column;

    img{
        // width: 100%;
        // margin-left: 50%;
        height: 100vh;
    }

    .textANDgif{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            position: absolute;
            top: 15%;
            font-weight: 900;
            font-size: 2rem;
            color: rgb(208, 195, 248);
            text-align: center;

            span{
                color: rgb(22, 10, 56);
                font-size: 3.5rem;
                text-shadow: 4px 4px 8px rgb(0, 0, 0);
            }
        }
        .buttons{
            position: absolute;
            bottom: 5%;

            button{
                padding: 0.9rem 1.5rem;
                border-radius: 7px;
                border: none;
                background: linear-gradient(to right, rgb(114, 46, 204), rgb(29, 1, 104));
                color: white;
                font-weight: 700;
                margin: 0 1rem 0 1rem;
                transition: 1s;
            }
            button:hover{
                box-shadow: 2px 2px 8px 5px rgba(102, 102, 102, 0.2);               
            }
        }
    }

    .hostContainer, .joinContainer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    input{
        padding: .8rem;
        border-radius: 10px;
        border: none;
        width: 25vw;
        background-color: rgb(191, 149, 247);
        color: white;
    }
    input::placeholder {
        color: white; 
    }
    button{
        padding: 0.9rem 1.5rem;
        border-radius: 7px;
        border: none;
        background: linear-gradient(to right, rgb(114, 46, 204), rgb(29, 1, 104));
        color: white;
        font-weight: 700;
        transition: 1s;
    }
    button:hover{
        box-shadow: 2px 2px 8px 5px rgba(102, 102, 102, 0.2);               
    }

    .joinContainer{
        margin-top: 2rem;
    }
}